.card {
  width: 300px;
  /* height: 360px; */
  border: 2px solid grey;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding: 0%;
  margin-top: 5%;
}
img {
  width: 100%;
  padding: 0;
}

.buttons {
  margin-bottom: 5px;
}

select {
  margin-bottom: 5px;
  width: 35px;
  margin-left: auto;
  margin-right: auto;
}

#winnerText {
  font-size: 2em;
  display: none;
}
